.navbar-container {
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    .navbar-container-left {
        display: flex;
        align-items: center;
        width: 180px;

        .audio-player {
        box-shadow: none;
        background-color: transparent;
        padding: unset;
        max-width: 200px;

        .rhap_stacked { 
            
            .rhap_progress-section {
                display: none;
            }

            .rhap_controls-section {
                margin-top: unset;

                .audio-icon {
                    width: 25px;
                }
                .audio-icon > * {
                    stroke: #FFF;
                    width: 35px;
                }
            }
        }
    }
        margin-right: 20px;

        .icon-container, .audio-controls {
            img {
                min-width: 35px;
                max-width: 35px;
                cursor: pointer;
            }
        }
    }

    .navbar-container-right {
        display: flex;
        div {
            color: white;
            padding: 5px;
            margin-right: 10px;
            cursor: pointer;
            font-size: 15px;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    .navbar-ticker__wrapper {
        font-size: 12px;
        height: unset;
    }
}

@media (max-width: 425px) {
    .navbar-container .navbar-container-left {
        width: unset;
        margin-right: 10px;
    }

    .rhap_volume-controls {
        display: none;
    }
}