.navbar-container {
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0 10px;

    .audio-player {
        box-shadow: none;
        background-color: transparent;
        padding: unset;
        max-width: 110px;
        .rhap_stacked .rhap_controls-section {
            margin-top: unset;

            .audio-icon {
                width: 25px;
            }
            .audio-icon > * {
                stroke: #FFF;
                width: 35px;
            }
            // .rhap_volume-container {
            //     position: relative;

            //     .rhap_volume-button {
            //         color: #fff;
            //     }
            //     .rhap_volume-bar-area {
            //         position: absolute;
            //         transform: rotate(270deg);

            //     }
            // }
        }
    }

    .icon-container, .audio-controls {
        img {
            width: 35px;
            cursor: pointer;
        }
    }

    .navbar-item {
        margin-right: 10px;
    }
}